<app-related-categories
  [isDetailView]="false"
></app-related-categories>
<mat-card>
  <section>
    <img
      width="50"
      src="https://material.angular.io/assets/img/examples/shiba2.jpg"
      alt="Photo of a Shiba Inu"
    />
  </section>
  <mat-card-content>
    <h2>title</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique odit
      illo aliquid quisquam veritatis, mollitia consequatur ea sequi placeat
      iste ipsum minima pariatur ducimus magni voluptatum ex corporis,
      doloremque voluptas!
    </p>
    <h3>price</h3>
    <p>desc</p>
    <h3>location</h3>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
