<app-related-categories></app-related-categories>
<mat-card>
  <mat-list>
    <mat-list-item
      *ngFor="let product of products"
      class="product-list-item">
      <img
        mat-card-image
        [src]="product.pictures[0]"
        alt="XXX"
      />
      <h3>{{product.price?.amount}} {{product.price?.currency}}</h3>
      <h2>{{product.title}}</h2>
      <p>{{product.title}}</p>
      <h3>location</h3>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>
</mat-card>
