@import "~@angular/material/theming";
@import "/src/assets/styles/abstracts.scss";

:host {
  display: block;
  width: $content-container-width;
  margin: 0 auto;
  padding: 4.5rem 0 2rem;
}

.list-view {
  display: block;
}

.card-view {
  display: none;
}

.mat-card {
  padding: 0;
}

.product-list {
  margin: 1rem 0;
}

.product-list-item {
  display: flex;
  padding: 1rem;
}

.item-price {
  display: flex;
  align-items: center;

  h3 {
    margin: 0;
  }

  img {
    margin: 0 0.5rem;
  }
}

.item-img {
  text-align: center;

  img {
    width: 200px;
    height: 200px;
  }
}

.item-props {
  margin: 1.5rem 1rem;
  width: 60%;
}

.item-location {
  width: 30%;
  padding: 2rem 0;
}

.product-grid-item {
  .grid-item {
    margin: 0.75rem;
  }
}

.product-grid-item {
  grid-template-columns: 33.33% 33.33% 33.33%;

  .grid-item {
    position: relative;
  }

  .grid-item-title {
    color: #fff;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: rgba(52, 131, 250, 0.85);
    font-size: 16px;
    position: absolute;
    bottom: 0;
    padding: 0.25rem;
    margin: 0;
    line-height: 16px;
  }

  .grid-item-props {
    position: absolute;
    top: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .grid-item img {
    width: 100%;
    padding: 0.5rem;
  }

  .grid-item-price {
    margin: 0;
    padding: 0.15rem;
    background-color: rgba(95, 95, 95, 0.75);
    color: white;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
  }

  .grid-item-condition {
    font-size: 32px;
    color: $green-primary-color;
    width: auto;
  }
}

@media (max-width: $medium-breakpoint) {
  :host,
  .product-list {
    width: 100%;
    margin: 0;
  }

  :host {
    padding-top: 0;
    padding-bottom: 3.5rem;
  }

  .list-view {
    display: none;
  }

  .card-view {
    display: grid;
  }

  .item-location {
    display: none;
  }
}

@media (max-width: $small-breakpoint) {
  .product-grid-item {
    display: grid;
    grid-template-columns: 50% 50%;
  }
}
