:host {
  display: block;
  width: 100%;
  background-color: #fff159;
  padding: 0.5rem 0;
}

.search-product-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
}

.search-icon {
  width: 40px;
  height: 37.2px;
  right: 1px;
  background-color: #ececec;
  position: absolute;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  top: 1px;
  cursor: pointer;

  .pi {
    position: absolute;
    color: #2a2a2a;
    top: 30%;
    right: 25%;
  }
}

.img-logo {
  align-self: flex-start;
  margin: auto 0;
  width: 3.75rem;
}

.search-autocomplete {
  align-self: flex-end;
  margin: 0 0 0 2rem;
  flex-grow: 2;
}

// ::ng-deep p-autocomplete-loader {
//   display: none !important;
// }
