<section class="search-product-container">
  <img
    class="img-logo"
    alt="Mercadolibre Logo"
    src="assets/img/Logo_ML@2x.png.png"
  />
  <section class="p-input-icon-right search-autocomplete">
    <p-autoComplete
      [(ngModel)]="selectedValue"
      [minLength]="1"
      [suggestions]="suggestions"
      (completeMethod)="searchSuggestions($event)"
      (onSelect)="onSelectSuggestion($event)"
      (onKeyUp)="searchProducts($event)"
      styleClass="full-width"
      inputStyleClass="full-width"
      field="search"
      inputId="search-input"
      placeholder="Nunca pares de buscar"
      ariaLabel="search suggestion input"
    ></p-autoComplete>
    <span class="search-icon" (click)="searchProducts($event)">
      <i class="pi pi-search"></i>
    </span>
  </section>
</section>
